p {
  font-family: Lato;
}
header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;	
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a{
	color: #074E8C;
}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: auto; 
	background: inherit;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	/* text-align: center; */
	width: auto;
	margin: auto;
}

#style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

::ng-deep .segment-type-string > .segment-main > .segment-value {
	color: blue !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
}

::ng-deep .segment-type-string > .segment-main.expandable > .segment-value {
	display: none;
}

::ng-deep .segment-type-array > .segment-main > .segment-key {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-array > .segment-main > .segment-value {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-object > .segment-main > .segment-key {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-object > .segment-main > .segment-value {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-string > .segment-main > .segment-key {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-string > .segment-main > .segment-value {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-string > .segment-main > .segment-boolean {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-string > .segment-main > .segment-boolean {
	// margin-left: 8px !important;
	font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
	font-size: 20px !important;
}

::ng-deep .segment-type-array > .segment-main {
	margin-bottom: 8px !important;
}

::ng-deep .segment-type-array > .children > ngx-json-viewer > section.ngx-json-viewer {
	animation: growDown 300ms ease-in-out forwards;
	transform-origin: top center
}

::ng-deep .segment-type-object > .children > ngx-json-viewer > section.ngx-json-viewer {
	animation: growDown 300ms ease-in-out forwards;
	transform-origin: top center
}

@keyframes growDown {
	0% {
			transform: scaleY(0)
	}
	80% {
			transform: scaleY(1.1)
	}
	100% {
			transform: scaleY(1)
	}
}

// ::ng-deep .segment-type-array > .segment-main > div.toggler:after {
// 	margin-right: 45px !important;
// 	border: 5px solid blue;
// 	content: url("https://www.computerhope.com/issues/pictures/google-drive-logo.png") !important;
// 	width: 20px;
// 	height: 20px;
// 	padding: 8px;
// }

$midnight: #2c3e50;
$clouds: #ecf0f1;
::ng-deep .segment-type-array > .segment-main > div.toggler:after {
  content: "\276F" !important;
	width: 1em !important;
	height: 1em !important;
	text-align: center !important;
	transition: all .35s !important;
}